[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "loewesadditivity"]
	path = loewesadditivity
	url = https://github.com/skgallagher/loewesadditivity
